{{ define "content" }} 
    <div class="jumbotron" id="om">
      <h1 class="display-3">Hei!</h1>
      <p class="lead">
      Velkommen til Luftforurensnings-prosjektet til Skolelabben på UiT -
      Norges Arktiske Universitet.
      På denne sida kan du se på, og laste ned, luftforurensningsdata som er
      samlet inn av elever i Teknologi og Forskningslære 2 på Kongsbakken VGS.
      Elevene skal selv bygge sensorkit som består av GPS, en støvmåler,
      luftfuktighetsmåler og temperatursensor i tillegg til et minnekort for
      å logge dataene. Vi kommer til å legge ut en oppskrift både på hvordan man
      bygger et sensorkit, samt hvordan man programmere den til å hente ut
      måledata fra de forskjellige sensorene. 
      </br></br> 


      På denne siden finner også luftkvalitetsdata fra <a href="http://www.nilu.no/">Norsk
          Institutt for Luftforskning (NILU)</a> her, i tillegg til værdata fra
      <a href="https://met.no/">Meteorologisk Instiutt</a>. 



      </p>
      <hr class="my-4">
      <p>
      Kontakt: <a href="mailto:skolelaboratoriet@nt.uit.no">skolelaboratoriet@nt.uit.no</a> 
      </p>
    </div>
{{ end }} 
