{{ define "footer" }}
<p>
  Kontakt:
  <a href="mailto:skolelaboratoriet@nt.uit.no">skolelaboratoriet@nt.uit.no</a>
</p>
<p>
  <a href="https://uit.no/skolelab" title="Skolelaboratoriet i realfag og teknologi">
    <img style="max-width: 300px" alt="Skolelaboratoriet i realfag og teknologi" src="https://uit.no/Content/393666/skolelaboratoriet.jpg"
    />
  </a>
</p>
<p>
  Se også prosjektets side på
  <a href="https://github.com/fjukstad/luft" title="air:bit reposotoriet på GitHub">GitHub</a>.
</p>
{{ end }}
