{{ define "footer" }}
<p>
  Kontakt:
  <a href="mailto:skolelaboratoriet@nt.uit.no">skolelaboratoriet@nt.uit.no</a>
  <br/>
  <a href="mailto:Bj&oslash;rn%20Fjukstad%20&lt;bjorn.fjukstad@uit.no&gt;">Bjørn Fjukstad: bjorn.fjukstad@uit.no</a>
  <br/>
  <a href="mailto:Fredrik%20H&oslash;is&aelig;ther%20Rasch%20&lt;fredrik.h.rasch@uit.no&gt;">Fredrik Høisæther Rasch: fredrik.h.rasch@uit.no</a>
</p>
<p>
  <a target="_blank" href="https://uit.no/skolelab" title="Skolelaboratoriet i realfag og teknologi">
    <img style="max-width: 300px" alt="Skolelaboratoriet i realfag og teknologi" src="https://uit.no/Content/393666/skolelaboratoriet.jpg"
    />
  </a>
</p>
<p>
  Se også prosjektets side på
  <a target="_blank" href="https://github.com/fjukstad/luft" title="air:bit reposotoriet på GitHub">GitHub</a>.
</p>
{{ end }}
