{{ define "footer" }}
<p>
  Kontakt:
  <a href="mailto:skolelaboratoriet@nt.uit.no">skolelaboratoriet@nt.uit.no</a>
  <br/>
  <a href="mailto:Edvard%20Pedersen%20&lt;edvard.pederseb@uit.no&gt;">Edvard Pedersen: edvard.pedersen@uit.no</a>
  <br/>
  <a href="mailto:H&aring;kon%20Wallann%20&lt;hakon.wallann@uit.no&gt;">Håkon Wallann: hakon.wallann@uit.no</a>
</p>
<p>
  <a target="_blank" href="https://uit.no/skolelab" title="Skolelaboratoriet i realfag og teknologi">
    <img style="max-width: 300px" alt="Skolelaboratoriet i realfag og teknologi" src="https://uit.no/Content/393666/skolelaboratoriet.jpg"
    />
  </a>
</p>
<p>
  Se også prosjektets side på
  <a target="_blank" href="https://github.com/fjukstad/luft" title="air:bit reposotoriet på GitHub">GitHub</a>.
</p>
{{ end }}
