{{ define "content" }}
<div class="row">
  <div class="col-1">
  </div>
  <div class="col-10">
    <div class="container" id="history-container" style="width:100%;height:100%; margin:auto;">
      <h4 align="center" style=" margin:auto;line-height:100px;"> Angi området og tidsrommet du vil se luftkvalitetsdata fra:</h4>
    </div>
  </div>
  <div class="col-1" align="center" onmouseover="" style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal">
    <em class="fas fa-question-circle fa-2x" style="margin: 10px;"></em>
    <br/> Slik bruker du søkesiden
  </div>
</div>

<div class="row">
  <div class="container" id="area-container">
    <form class="form-inline justify-content-center" id="area-form">
      <div class="form-group justify-content-center" style="display: flex;">
        <label form="area-form">
          <strong>Velg område</strong>
        </label>
        <div class="form-group justify-content-center" id="gps-form-group">
          <select class="form-control" name="area" id="area">
            <option value="Alta">Alta</option>
            <option value="Bodø">Bodø</option>
            <option value="Harstad">Harstad</option>
            <option value="Lakselv">Lakselv</option>
            <option value="Mo i Rana">Mo i Rana</option>
            <option value="Narvik">Narvik</option>
            <option value="Nord-Troms">Nord-Troms</option>
            <option value="Tromsø" selected="selected">Tromsø</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
<hr class="my-4" />
<div class="row">
  <div class="container" id="time-container">
    <form class="form-inline justify-content-center" id="time-form">
      <div class="form-group" style="display: block;">
        <label for="time-form">
          <strong>Angi tidsintervall</strong>
        </label>
        <div class="form-group">
          <input class="history-radio" type="radio" name="time" id="hour" value="hour" checked="checked">
          <label for="hour">Siste timen</label>
          <input class="history-radio" type="radio" name="time" id="24hour" value="24hour">
          <label for="24hour">Siste 24 timer</label>
          <input class="history-radio" type="radio" name="time" id="week" value="week">
          <label for="week">Siste 7 dager</label>
          <input class="history-radio" type="radio" name="time" id="month" value="month">
          <label for="month">Siste måned</label>
          <input class="history-radio" type="radio" name="time" id="custom" value="custom">
          <label for="custom">Spesifiser eget intervall</label>
        </div>
        <div class="form-inline justify-content-center" id="time-input">
          <label for="from">Fra</label>
          <input class="form-control" type="datetime-local" value="" id="from">
          <label for="to">Til</label>
          <input class="form-control" type="datetime-local" value="" id="to">
        </div>
      </div>
    </form>
  </div>
</div>
<hr class="my-4" />
<div class="row">
  <div class="container" id="data-container">
    <form class="form-inline justify-content-center" id="data-form">
      <div class="form-group" style="display: block;">
        <label for="data-form">
          <strong>Inkluder data fra:</strong>
        </label>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" checked id="checkbox-student">Elever
          </label>
          <label class="form-check-label" data-toggle="tooltip" title="Data fra NILU er kun tilgjengelig for noen områder" id="nilu-label">
            <input class="form-check-input" type="checkbox" id="checkbox-nilu">NILU
          </label>
          <!-- <label class="form-check-label">
            <input class="form-check-input" type="checkbox" id="checkbox-met">MET
          </label> -->
        </div>
      </div>
    </form>
  </div>
</div>
<hr class="my-4" />
<div class="row">
  <div class="container" align="center">
    <div class="button-group">
      <button type="button" class="btn btn-primary" id="history-button">Søk</button>
      <button type="button" class="btn btn-success" id="download" onclick="downloadAll()" style="display:inline-block;">Last ned</button>
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="row" id="map">
    <div class="col-2">
    </div>
    <div class="col-8" style="height:500px;">
      <div id="mapid"></div>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row" id="student-data" align="center">
    <div style="height:500px;width:100%;">
      <h3 id="student-title" align="center">Elevdata</h3>
      <div id="infobox-student" style="display:none;">Ingen data tilgjengelig </div>
      <div class="row" align="center">
        <div class="col-4">
          <div id="chart-dust" class="chart" style="display:inline-block;"></div>
        </div>
        <div class=col-4>
          <div id="chart-temperature" class="chart" style="display:inline-block;"></div>
        </div>
        <div class=col-4>
          <div id="chart-humidity" class="chart" style="display:inline-block;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="nilu-data" align="center">
    <div style="height:500px;width:100%;">
      <h3 id="nilu-title" align="center">NILU</h3>
      <div class="row" align="center">
        <div class=col-6>
          <div id="infobox-PM10" style="display:none;">
            <strong>PM10</strong>
            </br> Ingen data tilgjengelig
          </div>
          <div id="chart-PM10" class="chart" style="display:inline-block;"></div>
        </div>
        <div class=col-6>
          <div id="infobox-NO2" style="display:none;">
            <strong>NO2</strong>
            </br> Ingen data tilgjengelig
          </div>
          <div id="chart-NO2" class="chart" style="display:inline-block;"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Slik bruker du søkesiden</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 data-toggle="collapse" data-target="#select_area" onmouseover="" style="cursor: pointer;">Velg område</h5>
        <div id="select_area" class="collapse">
          For å angi søkeområde kan du:
          <ul>
            <li>
              <strong>Velge område fra nedtrekksliste</strong>
            </li>
            <img src="../public/img/select.png" style="margin:10px;">
            <br/> Ved å velge område fra nedtrekkslisten, vil søket ta utgangspunkt i et sentrumsnært punkt i området og returnere
            alle datapunkter innenfor en 7 km radius.
            <li>
              <strong>Angi område på kartet</strong>
            </li>
            Dersom du ønsker å angi koordinater og radius selv, eller velge et område som ikke er angitt på listen, kan dette gjøres
            ved å markere et område på kartet på følgende måte: klikk på knappen med sirkel på oppe i høyre hjørne, flytt
            pekeren til ønsket punkt på kartet, og klikk og dra ut pekeren for å lage en sirkel av ønsket størrelse.
            <img id="map-image1" src="../public/img/map1.png">
            <br/> Dersom sirkelen ikke ble som dere ønsket, kan du slette den ved å klikke på søppelbøtten i øvre høyre hjørne,
            klikke på sirkelen som du vil fjerne og trykke "save".
            <img id="map-image2" src="../public/img/map3.png">
            <br/> TIPS: Bruk gjerne listen fra forrige punkt til å navigere deg rundt på kartet når du skal markere et egendefinert
            område. Dersom du har laget en sirkel på kartet, vil koordinatene fra denne overstyre listevalget når du trykker
            "Søk".
          </ul>
        </div>
        <hr class="my-6" />
        <h5 data-toggle="collapse" data-target="#select_time" onmouseover="" style="cursor: pointer;">Velg tidspunkt</h5>
        <div id="select_time" class="collapse">
          For å angi tidsrom kan du:
          <ul>
            <li>
              <strong>Velge et av de forhåndsdefinerte alternativene</strong>
            </li>
            <img id="time-image1" src="../public/img/time1.png">
            <br/>
            <li>
              <strong>Spesifisere eget tidsrom.</strong>
            </li>
            <img id="time-image2" src="../public/img/time2.png">
            <br/>
        </div>
        <hr class="my-6" />
        <h5 data-toggle="collapse" data-target="#select_data_source" onmouseover="" style="cursor: pointer;">Velg datakilder</h5>
        <div id="select_data_source" class="collapse">
          Det er mulig å hente ut målepunkter fra elever og fra NILU. For å angi datakilde, kryss av for ønsket alternativ.
          <br/>
          <img id="data-source-image" src="../public/img/datasources.png">
          <br/> MERK: NILU har kun målestasjoner i Tromsø, Bodø, Harstad og Narvik.
          <br/> MERK2: Dersom du gjør et egendefinert områdesøk, vil ikke data fra NILU sine målestasjoner komme med.
        </div>
        <hr class="my-6" />
        <h5 data-toggle="collapse" data-target="#download-data" onmouseover="" style="cursor: pointer;">Last ned data</h5>
        <div id="download-data" class="collapse">
          For å laste ned data velger dere et område fra nedtrekkslisten eller direkte på kartet, velger tidsområde og datakilde og
          trykker på "Last ned"-knappen.
        </div>
      </div>
    </div>
  </div>
</div>
{{ template "scripts" . }}
<script>
  $(document).ready(function () {
    $('input[type="radio"]').click(function () {
      if ($(this).attr('id') == 'custom') {
        $('#time-input').css('margin-top', '10px');
        var now = new Date();
        document.getElementById('to').value = now.getHours();
        document.getElementById('from').value = now.getHours() - 1;
        $('#time-input').css('display', 'flex');
      } else {
        $('#time-input').hide();
      }
    });
  });

  var map;
  var area;
  var radius = 7;
  var customGPS = false;
  var coordinates = []
  var within;

  if (map != undefined) {
    map.remove();
  }

  getCoordinates();
  map = drawCustomAreaMap();

  // reset map if selected area changes
  $('select').on('change', function () {
    if (map != undefined) {
      map.remove();
    }

    getCoordinates();
    map = drawCustomAreaMap();
  });

  $('#history-button').click(function (e) {
    clearCharts();

    if (map != undefined) {
      map.remove();
    }

    if (customGPS == false) {
      getCoordinates();
    }

    map = drawCustomAreaMap();
    datestring = createDatestring();

    if ($('#checkbox-nilu').is(':checked')) {
      component = "PM10"
      element = "svg#chart-" + component
      container = "chart-" + component

      var provider = "nilu"
      barChartNilu(area, component, datestring);
      addToMap(map, area, customGPS, provider, component, datestring)
      component = "NO2"
      element = "svg#chart-" + component
      container = "chart-" + component
      addToMap(map, area, customGPS, provider, component, datestring)
      barChartNilu(area, component, datestring);

      $('#nilu-title').show();
      $('#nilu-data').show();
    }

    if ($('#checkbox-student').is(':checked')) {
      if (customGPS == true) {
        within = coordinates.slice(0, 2)
        within.push(radius)
        area = within.join()
      }

      provider = "student"
      components = ["dust", "temperature", "humidity"]
      addToMap(map, area, customGPS, provider, null, datestring)
      barChartStudent(area, customGPS, datestring);


      $('#student-title').show();
      $('#student-data').show();
    }
    customGPS = false;
  });


  function downloadAll() {
    var zip = new JSZip();
    var count = 0;
    var zipFilename = "airbit.zip";

    var urls = [];
    var filenames = []
    datestring = createDatestring();
    if ($('#checkbox-student').is(':checked')) {
      urls.push(getStudentUrl(area, customGPS, datestring, false))
      filenames.push("studentdata.csv")
    }
    if ($('#checkbox-nilu').is(':checked')) {
      component = "PM10"
      urls.push(getHistoricalUrl(area, datestring, component))
      filenames.push("Nilu-PM10.csv")


      component = "NO2"
      urls.push(getHistoricalUrl(area, datestring, component))
      filenames.push("Nilu-NO2.csv")
    }


    if (urls.length == 1) {
      var link = document.createElement('a');
      var uri = urls[0];
      if (typeof link.download === 'string') {
        document.body.appendChild(link); // Firefox requires the link to be in the body
        link.download = filenames[0];
        link.href = uri;
        link.click();
        document.body.removeChild(link); // remove the link when done
      } else {
        location.replace(uri);
      }
    } else {
      urls.forEach(function (url) {
        // loading a file and add it in a zip file
        JSZipUtils.getBinaryContent(url, function (err, data) {
          var filename = filenames[count];
          if (err) {
            throw err; // or handle the error
          }
          zip.file(filename, data, {
            binary: true
          });
          count++;
          if (count == urls.length) {
            zip.generateAsync({
              type: 'blob'
            }).then(function (content) {
              saveAs(content, zipFilename);
            });
          }
        });
      });
    }
  }

</script> {{ end }}
