{{ define "content" }} 
<div class="container"> 
    <div class="row"> 
            <h4> Velg tidsrommet du vil se luftkvalitetsdata fra </h4> 
    </div> 
    <div class="row"> 
        <form id="history-form" class="form-inline" style="width:100%"> 
            <div class="form-group">
              <label for="from" class="col-2
                  col-form-label">Fra</label>
            <div class="col-10">
                <input class="form-control" type="datetime-local"
                value="2017-02-01T08:00:00" id="from">
              </div>
            </div>
           <div class="form-group">
              <label for="to" class="col-2
                  col-form-label">Til</label>
            <div class="col-10">
                <input class="form-control" type="datetime-local"
                value="2017-02-08T20:00:00" id="to">
              </div>
            </div>
        <!---
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Inkludér data fra
            luftkvalitet.info
          </label>
        </div>
        --->
        <div class="float-right" id="history-button">
          <button type="button" class="btn btn-primary float-right">Søk</button>
        </div> 
        </form> 
    </div> 
   <hr class="my-4">
</div> 
       <div class="row"> 
        <div class="col-8"> 
            <div id="mapid"></div>
        </div> 
        <div class="col-4">
            <div class="row">
                <h3>Luftkvalitet</h3> 
                <div id="chart-PM10">
                    <svg id="chart-PM10" width="300" height="200"></svg> 
                </div>
            </div>
            <hr class="my-4">
        <div class="float" id="download" style="display:none">
          <button type="button" class="btn btn-success">Last ned</button>
        </div> 


        </div> 
    </div>  

<script> 
$('#history-button').click(function(e) {
    component = "PM10"
    var element = "svg#chart-"+component

    clearVis(element) 
    $("#download").css("display", "none") 


    var from = $('#from').val()
    from = new Date(from)

    var to = $('#to').val()
    to = new Date(to)

    area = "Tromsø"
    datestring = "from="+from.toJSON()+"&to="+to.toJSON() 
    
    console.log(area, component, datestring) 
    vis(area, component, datestring, element);

    $("#download").css("display", "block") 
});

$("#download").click(function(){
    var from = $('#from').val()
    from = new Date(from)

    var to = $('#to').val()
    to = new Date(to)

    area = "Tromsø"
    datestring = "from="+from.toJSON()+"&to="+to.toJSON() 
    
    var component = "PM10"
    var url = getHistoricalUrl(area, datestring, component) 
    window.open(url, '_blank');
})



</script> 


{{ end }} 
