{{ define "content" }} 
<div class="row" id="message"> 
    <div class="col-12">
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p> 
        Melding til elever i 2STF: </br>
        Etter et par timer med feilsøking i går etter at dere hadde dratt fant vi
        feilen, eller feilene. Dere trenger 1) en annen USB-kabel enn den vi ga
        dere i går, og 2) en driver som dere kan laste ned 
        <a href="http://www.wch.cn/downfile/5">her</a>. </br> 

        Vi håper dere hadde det gøy i går og får startet på programmeringsbiten!
        Som vi nevnte ligger den en link inne på <a href="/om">om-siden</a> med
        instruksjoner til hvordan dere får hentet ut data fra de forskjellige
        sensorene. </br> 

        Vi jobber med å få opp nedbørsmålinger i tillegg til NO2 her på siden. 
        </br> 

        </p> 
    </div> 
    </div>
</div>
<div class="row"> 
    <div class="col-8"> 
        <div id="mapid"></div>
    </div> 
    <div class="col-4">
        <div class="row">
            <h3>Varsel</h3> 
            <div id="forecast">
                <p id="forecast"></p> 
            </div> 
        </div> 
        <div class="row">
         <h3>Målinger fra studenter</h3>
            <div id="chart-dust" class="chart">
                <svg id="chart-dust" width="300" height="200"></svg>
            </div>
            <div id="chart-temperature" class="chart">
                <svg id="chart-temperature" width="300" height="200"></svg>
            </div>
            <div id="chart-humidity" class="chart">
                <svg id="chart-humidity" width="300" height="200"></svg>
            </div>
        </div>
        <div class="row">
            <h3>Målinger fra NILU</h3>
            <div id="chart-PM10" class="chart">
                <svg id="chart-PM10" width="300" height="200"></svg>
            </div>
            <div id="chart-NO2" class="chart">
                <svg id="chart-NO2" width="300" height="200"></svg>
            </div>
        </div>
        <hr class="my-4">
    </div> 
</div> 

<script> 

map = newMap(mapid); 


// Get current and yesterday's date (want to get data for the last 24 hrs) 
var now = new Date() 
var yesterday = new Date()
yesterday.setDate(now.getDate()-1) 
var datestring = "from="+yesterday.toJSON()+"&to="+now.toJSON() 

var area = "Tromsø"
console.log(datestring) 
component = "PM10"
element = "svg#chart-"+component
container = "chart-"+component

var provider = "nilu" 

addToMap(map, area, provider, component, datestring) 
barChart(area, component, datestring, container, element); 

component = "NO2" 
element = "svg#chart-"+component
container = "chart-"+component

addToMap(map, area, provider, component, datestring) 
barChart(area, component, datestring, container, element); 


provider = "student" 
component = "dust"
var element = "svg#chart-" + component
barChart(area, component, datestring, container, element);


component = "humidity"
var element = "svg#chart-" + component
barChart(area, component, datestring, container, element);

component = "temperature"
var element = "svg#chart-" + component
barChart(area, component, datestring, container, element);

addToMap(map, area, provider, component, datestring)





// get and insert forecast 
$.ajax({
    url: "/forecast?area="+area,
    success: function(data){
        $("p#forecast").html(data)
    }
})

$(".close").click(function(){
    $("div#message").css("display","none");
})

</script> 
{{ end }} 
