{{ define "content" }} 
<div id="mapid"></div>
   
<script> 
    var id = "d6b8f721-ddff-4a13-a016-3eef94a9b247"


    var map = L.map('mapid').setView([69.680, 18.951], 9.6);
    var accessToken = 'pk.eyJ1IjoiZmp1a3N0YWQiLCJhIjoiY2l2Mnh3azRvMDBrYTJ5bnYxcDAzZ3Z0biJ9.RHb5ENfbmzN65gjiB-L_wg';

L.tileLayer(
        "https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?access_token="+accessToken,
        {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'fjukstad.2148odo2',
   accessToken: accessToken
}).addTo(map);

    var geolayer = L.geoJSON().addTo(map);


    function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties && feature.properties.popupContent) {
            layer.bindPopup("<b>"+feature.properties.name+"</b></br>"+feature.properties.popupContent);
        }
    }

    $.ajax({
        dataType: "json",
        url: "/aqis/"+id,
        success: function(data) {
            L.geoJSON(data.features, {
                pointToLayer: function(feature, latlng){
                    console.log(feature.properties.color)
                    var geojsonMarkerOptions = {
                        color: "#"+feature.properties.color,
                        weight: 10,
                        opacity: 1,
                        fillOpacity: 0.8
                    };

                    return L.circle(latlng, geojsonMarkerOptions)
                },
                onEachFeature: onEachFeature
            }) .addTo(map);
        }
    });


    $.ajax({
        dataType: "json",
        url: "/logs/",
        success: function(data) {
            L.geoJSON(data.features, {
                pointToLayer: function(feature, latlng){
                    console.log(feature.properties.color)
                    var geojsonMarkerOptions = {
                        weight: 1,
                        opacity: 1,
                        fillOpacity: 0.8
                    };

                    return L.circle(latlng, geojsonMarkerOptions)
                },
                onEachFeature: onEachFeature
            }) .addTo(map);
        }
    });


</script> 
{{ end }} 
