.topnav{
  display: inline !important;
}

li.nav {
  display: inline;
  color: #fab;
}

#mapid { 
  height: 100%;
  width: 100%;
  margin: 0;
}

.chart {
  width: 100%;
}

.container {
  margin-top: 15px;
}

#message { 
  margin-top: 0.5em;
}


body { 
  background-color: #eee;
}

.bg-faded { 
  background: #1c3249;
  background-color: #1c3249;
}


.navbar{
  background-color:#1c3249;
  border-radius:0;
}

.navbar .navbar-nav > li > a {
  color:#fff;
}

.nav-link {
  color: #fff !important;    
}

.custom-toggler.navbar-toggler {
    border-color: transparent;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar a:hover{
  color: #fff !important;
  font-weight: bold;
}

.navbar .navbar-brand {
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}

#index-nav a {
  color: black !important;
}

#index-left-nav a {
  color: black !important;
}

#mapdiv { 
  padding-left: 0;
}

#select-area > h3, #select-area > .form-group{
  display: inline-block;
}

.form-check {
  display: inline-block;
}

.form-check-label {
  padding-right: 10px;
}

#forecast {
  width: 100%;
}

/* Upload page */
#input-div > h4 {
  text-align: center;
  padding-bottom: 20px;
}

#upload-form span.input-group-text {
  color: #ffffff;
  background-color: #1c3249;
  border-color: #1c3249; 
}

#upload-form .custom-file-input:lang(no) ~ .custom-file-label::after {
  content: "Utforsk...";
  color: #ffffff;
  background-color: #1c3249;
  border-color: #1c3249; 
}

#upload-form .btn.btn-primary {
  background-color: #1c3249;
  border-color: #1c3249; 
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.success-message {
  color: green;
  margin-bottom: 10px;
}

.fa.fa-times {
  position: relative;
  top: 2px;
  left: -17px;
  color: #a6a6a6;
}

body.wait, body.wait *{
    cursor: wait !important;   
}


/* History page*/

#area-container, #time-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

label {
  padding-right: 5px;
}

#gps-input, #time-input, h3#student-title, h3#nilu-title, #infobox-student, #infobox-PM10, #infobox-N02, #student-charts {
  display: none;
}

#student-data, #nilu-data, #map {
  margin-bottom: 50px;
}

#area-checkbox {
  margin-left: 10px;
}

.history-radio {
  margin-left: 10px;
  margin-right: 2px;
}
.history-row {
  width: 100%; 
  margin-right: auto; 
  margin-left: auto;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

hr.my-4 {
  width: 50%;
}

#gps-form-group, #gps-input {
  width: 100% !important;
}
/*History page end*/

/* History page modal*/
#map-image1, #map-image2, #time-image1, #time-image2, #data-source-image {
  margin:10px;
  max-width: 95%;
  max-height: 95%;
}

/* History page modal end */
div.markdown img {
  display: inline-block;
  max-width: 100%;
}

#index-left-nav {
  float: left;
}

#index-nav {
  float: right;
  /* background-color: #1c3249; */
  /* position: relative; */
  /* right: 0; */
}

#om {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#splash {
  text-align: center;
}

#logo {
  height: 16rem;
}

.resource-media-preview {
  max-height: 206px;
}

footer p {
  width: 100%;
  text-align: center;
}
