.topnav{
    display: inline !important;
}

li.nav {
    display: inline;
}
#mapid { 
    height: 100%;
    width: 100%;
    margin: 0;
}
#chart-PM10 {
    width: 100%;
}

#om { 
}

#history-button { 
    right: 0px;
    position: absolute;
} 
#message { 
    margin-top: 0.5em;
}
